body {font-family: "Roboto", sans-serif;
  color: #434455;
background-color: #FFF;
font-style: normal;}

ul {list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;}

a {text-decoration: none;
  color: inherit;}

button {cursor: pointer;}

h1,
h2,
h3,
h4,
h5,
h6,
p {margin-top: 0;
  margin-bottom: 0;}

img {display: block;
max-width: 100%;}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width:768px) { 
  .container{
  max-width: 768px;
   }
}

@media screen and (min-width:1158px) {
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
}
}

/* ============ header ================*/
.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items:center;
  border-bottom: 1px solid #e7e9fc;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo-accent {
  color: #4D5AE5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo {
  color: #2E2F42;
}

.nav-list{
  display: none;
}

.address{
  display: none;
}

.mob-menu{
  display: block;
  border: none;
  background-color: inherit;
}


/* =====Tab===== */
@media screen and (min-width:768px) {
.container-header{
  padding-top: 0;
  padding-bottom: 0;
}
.logo-accent-header {
  margin-right: 120px;
}
.mob-menu{
  display: none;
}
.nav {
  color: #2E2F42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list{
 display: flex;
 gap: 40px;
}
.nav-item-pages {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
.nav-item-pages-studio {
  color: #404bbf;
  position: relative;
}
.nav-item-pages-studio::after {
  content: "";
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background-color: #404BBF;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: -1px;
  left: 0px;
}
.address {
  display: flex;
  font-size: 12px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address-list {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
}

/* =====Desk===== */
@media screen and (min-width:1158px) {
.logo-accent-header {
  margin-right: 76px;
}
.nav-item {
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.nav-item:focus,
.nav-item:hover {
  color: #404BBF;
  }
  .address{
    font-size: 16px;
  }
.address-list {
  flex-direction: row;
  column-gap: 40px;
}
.address-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-item:hover,
.address-item:focus {
  color: #404BBF;
}
}

/*=========== Hero ===========*/

.hero {
  padding-top: 72px;
  padding-bottom: 72px;
  width: 100%;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
  url(../images/hero_mob@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2E2F42;
  margin-left: auto;
  margin-right: auto;
 }

 @media screen and (min-resolution: 192dpi) and (min-width:320px),
screen and (min-resolution: 2dppx) and (min-width:320px),
screen and (min-device-pixel-ratio: 2) and (min-width:320px){
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
     url(../images/hero_mob@2x.jpg);
  }
 }

 .hero-title {
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 188px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  text-transform: capitalize;
 }

.hero-button {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4D5AE5;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  padding: 16px 32px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

/* =====Tab===== */
 @media screen and (min-width:768px) {
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
     url(../images/hero_tab@1x.jpg);
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    max-width: 496px;
  }
 }
@media screen and (min-resolution: 192dpi) and (min-width:768px),
screen and (min-resolution: 2dppx) and (min-width:768px),
screen and (min-device-pixel-ratio: 2) and (min-width:768px) {
  .hero {
    background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
     url(../images/hero_tab@2x.jpg);
  }
}


/* =====Desk===== */
@media screen and (min-width:1158px) {
  .hero { 
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
  url(../images/hero.jpg);
  }

  .hero-button:hover,
  .hero-button:focus {
  background-color: #404BBF;
    }
  }

@media screen and (min-resolution: 192dpi) and (min-width:1158px),
screen and (min-resolution: 2dppx) and (min-width:1158px),
screen and (min-device-pixel-ratio: 2) and (min-width:1158px) {
  .hero {background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
   url(../images/hero_@2x.jpg);
  }
}


  /*============== Features ==============*/

.features {
  padding-top: 96px;
  padding-bottom: 96px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  }

 .features-list { 
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.features-item {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
 
.features-title {
color: #2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
}

.features-text {
color:  #434455;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
}

.img-features {
  display: none;
}

/* =====Tab===== */
 @media screen and (min-width:768px) {
  .features-title {
    text-align: left;
  }
 .features-list { 
flex-direction: row;
flex-wrap: wrap;
column-gap: 24px;
 }
 .features-item {
  width: calc((100% - 24px) / 2);
 }
}

/* =====Desk===== */
@media screen and (min-width:1158px) {
.features {
  padding-top: 120px;
  padding-bottom: 120px;
  }

.features-item {
  width: 264px;
}
.features-title {
  font-size: 20px;
  line-height: 1.2;
}
 .img-features {
   display: flex;
   width: 264px;
   height: 112px;
   border-radius: 4px;
   border: 1px solid #8E8F99;
   background-color: #F4F4FD;
   align-items: center;
   justify-content: center;
 }
.features-text {
font-weight: 400;
}
}

/*================== Team =============*/

.team {
background: #F4F4FD;
padding-top: 96px;
padding-bottom: 96px;
}

.heading {
color: #2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
  align-items: center;
}

.team-item {
  border-radius: 0px 0px 4px 4px;
  background-color: #FFF;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: 264px;
}

.team-card {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 32px;
  row-gap: 8px;
}

 .title-team {
  color: #2E2F42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02;
  margin-left: auto;
  margin-right: auto;
 }

.text-team {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
}

.link-icon {
  display: flex;
  justify-content: center;
  gap: 24px;
}

 .link-icon-item {
   display: flex;
   width: 100%;
   height: 100%;
   align-items: center;
   justify-content: center;
   background-color: #4D5AE5;
   border-radius: 50%;
   width: 40px;
   height: 40px;
 }

 /* =====Tab===== */
@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
    justify-content: center;
  }
   }

/* =====Desk===== */
@media screen and (min-width:1158px) {
  .team{
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-item{
  width: calc((100% - 72px) / 4);
  }
  .link-icon-item {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
  .link-icon-item:hover,
  .link-icon-item:focus {
    background-color: #31d0aa;
  }
}

/* ============Portfolio========== */

.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 48px;
}

.portfolio-cart {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  background-color: #FFF;
  gap: 8px;
}

.portfolio-overlay>p {
  display: none;
}

.title-portfolio {
 color: #2E2F42;
 font-size: 20px;
 font-weight: 500;
 line-height: 1.2;
 letter-spacing: 0.02em;
}

.text-portfolio {
 color: #434455;
 font-size: 16px;
 font-weight: 400;
 line-height: 1.5;
 letter-spacing: 0.02em;
}

/* =====Tab===== */
@media screen and (min-width:768px) {
.portfolio-list{
flex-direction: row;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 72px;
}
.portfolio-item {
 width: calc((100% - 24px) / 2);
}
}

/* =====Desk===== */
@media screen and (min-width:1158px) {
 .portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
  }
  .portfolio-list {
   row-gap: 48px;
  }
  .portfolio-item {
   width: calc((100% - 48px) / 3);
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
  .portfolio-overlay {
   position: relative;
   overflow: hidden;
  }
  .portfolio-item:hover .portfolio-overlay>p {
   transform: translateY(0);
   }
  .portfolio-overlay>p {
   display: flex;
   color: #F4F4FD;
   width: 296px;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   padding: 40px 32px;
   background-color: #4D5AE5;
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   transform: translateY(100%);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
}

    
       /*=========== Footer =============*/

.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background: #2E2F42;
}

.wrapper-footer{
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.footer-wrap-tab{
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.logo-blok-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}

.logo-accent-footer {
  color: #4D5AE5;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-footer {
  color: #F4F4FD;;
}

.footer-text {
  color: #F4F4FD;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.social-blok-footer {
 display: flex;
 flex-direction: column;
 align-items: center;
 row-gap: 16px;
}

.footer-text-social {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.socials-list-footer {
  display: flex;
  gap: 16px;
}
.icon-wrap-footer {
  width: 40px;
  height: 40px;
 }

.link-icon-footer {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #4D5AE5;
  border-radius: 50%;
  fill: #f4f4fd;
}

.title-form-footer {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}

.form-footer-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}

.input-form-footer {
  width: 288px;
  height: 40px;
  color: #FFF;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid #FFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: inherit;
  outline: transparent;
  padding-left: 16px;
  opacity: 0.3;
}

.input-form-footer::placeholder {
  color: #FFF;
  padding-top: 8px;
  padding-bottom: 8px;
}

.button-footer {
  display: flex;
  min-width: 165px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #4D5AE5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #FFF;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  padding: 0;
}

 .icon-footer-btn {
   margin-left: 16px;
 }

 /* =====Tab===== */
 @media screen and (min-width:768px) {
 .wrapper-footer{
padding-left: 92px;
 }
  .footer-wrap-tab {
  flex-direction: row;
  column-gap: 24px;
}
.logo-blok-footer {
  width: 264px;
  align-items: flex-start;
}
.title-form-footer {
text-align: left;
}
.input-form-footer {
  width: 264px;
}
.form-footer{
}
 .form-footer-subscribe {
  flex-direction: row;
  column-gap: 24px;
  row-gap: 0;
  }
} 

 /* =====Desk===== */
 @media screen and (min-width:1158px) {
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
}
.wrapper-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 80px;
  padding-left: 0;
 }

.footer-wrap-tab{
  column-gap: 120px;
}
.social-blok-footer{
  margin-bottom: 0;
  align-items: flex-start;
}
.form-footer{
  justify-content: space-between;
}

.link-icon-footer {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-icon-footer:hover,
.link-icon-footer:focus {
  background-color: #31d0aa;
}
.input-form-footer {
 transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-form-footer:focus {
  border-color: #4D5AE5;
 } 
.button-footer {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
.button-footer:hover,
.button-footer:focus {
 background-color: #404BBF;
 }
}

      /*=========== modal window ==========*/

/* =====Mob===== */

 .backdrop {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 99999;
   width: 100%;
   height: 100%;
   background-color: rgba(46, 47, 66, 0.40);
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
     visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .backdrop.is-open {
   opacity: 1;
   visibility: visible;
   pointer-events: auto;
 }

 .modal-window {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 288px;
   border-radius: 4px;
   background-color: #FCFCFC;
   padding-left: 16px;
   padding-right: 16px;
   padding-top: 72px;
   padding-bottom: 24px;
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .btn-close-modal {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0;
   line-height: 0;
   background-color: #E7E9FC;
   border-radius: 50%;
   border: 1px solid rgba(0, 0, 0, 0.10);
   width: 24px;
   height: 24px;
   position: absolute;
   top: 24px;
   right: 24px;
 }

 .title-modal {
   width: 256px;
   color: #2E2F42;
   text-align: center;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.32px;
   margin-bottom: 16px;
 }

 .wrapper {
   margin-bottom: 8px;
 }

 .label-form {
   display: block;
   color: #8E8F99;
   font-size: 12px;
   font-weight: 400;
   line-height: 1.17;
   letter-spacing: 0.04em;
   margin-bottom: 4px;
 }

 .input-wrap {
   position: relative;
 }

 .input-modal {
   width: 100%;
   height: 40px;
   border-radius: 4px;
   background-color: transparent;
   border: 1px solid rgba(46, 47, 66, 0.40);
   padding-left: 38px;
   outline: 0px solid transparent;
 }

 .icon-modal {
   position: absolute;
   top: 50%;
   left: 16px;
   transform: translateY(-50%);
   fill: #2e2f42;
 }

 .wrapper-comment {
   margin-bottom: 16px;
 }

 .comment {
   width: 100%;
   height: 120px;
   border-radius: 4px;
   color: rgba(46, 47, 66, 0.4);
   background-color: transparent;
   border: 1px solid rgba(46, 47, 66, 0.40);
   padding-left: 38px;
   outline: 0px solid transparent;
   padding: 8px 16px;
   font-size: 12px;
   font-weight: 400;
   line-height: 1.17;
   letter-spacing: 0.04em;
   resize: none;
 }

 .comment::placeholder {
   color: rgba(46, 47, 66, 0.40);
 }

 .checkbox-wrap {
   margin-bottom: 24px;
   position: relative;
 }

 .label-checkbox {
   color: #8E8F99;
   font-size: 12px;
   font-weight: 400;
   line-height: 1.17;
   letter-spacing: 0.04em;
 }

 .accent-link {
   color: #4D5AE5;
   text-decoration: underline;
 }

 .own-checkbox {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 16px;
   height: 16px;
   border: 1px solid rgba(46, 47, 66, 0.40);
   border-radius: 2px;
   fill: transparent;
   cursor: pointer;
   margin-right: 8px;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     border 250ms cubic-bezier(0.4, 0, 0.2, 1),
     fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .label-checkbox-text {
  position:absolute;
 }

 .input-checkbox:checked+.label-checkbox>.own-checkbox {
   background-color: #404BBF;
   outline: 1px solid rgb(64, 74, 191);
   border: none;
   fill: #F4F4FD;
 }

 .form-btn {
   display: block;
   min-width: 169px;
   height: 56px;
   border-radius: 4px;
   background-color: #4D5AE5;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
   justify-content: center;
   align-items: center;
   border: none;
   color: #FFF;
   text-align: center;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.04em;
   margin-left: auto;
   margin-right: auto;
 }

/* =====Tab===== */
@media screen and (min-width:768px) {
  .modal-window{
    width: 408px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .title-modal{
    width: auto;
  }
  .label-checkbox-text{
    position: relative;
  }
}

/* =====Desk===== */
@media screen and (min-width:1158px) {
  .modal-window{
    padding-left: 24px;
    padding-right: 24px;
  }
  .btn-close-modal {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .btn-close-modal:hover,
  .btn-close-modal:focus {
     fill: #ffffff;
     background-color: #404bbf;
     border: none;
  }
  .input-modal{
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .input-modal:focus {
    border-color: #4D5AE5;
  }
  .icon-modal{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .input-modal:focus+.icon-modal {
    fill: #4D5AE5;
  }
  .comment{
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .comment:focus {
    border-color: #4D5AE5;
  }
  .input-checkbox:hover+.label-checkbox>.own-checkbox {
    outline: 1px solid rgb(64, 74, 191);
  }
  .form-btn{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .form-btn:hover,
  .form-btn:focus {
    background-color: #404BBF;
  }
}

/* ==========Mob menu======== */
 .mob-menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.40);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fff;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 72px;
  padding-bottom: 40px;
  
} 
.mob-menu-wrapper.is-open{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.btn-close-mob-menu {
  display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    line-height: 0;
    background-color: #FFF;
    border-radius: 50%;
    border: 1px solid #E7E9FC;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
}
.mob-menu-nav {
  color: var(--NAVY-BLUE, #2E2F42);
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.mob-menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 168px;
}
.mob-menu-nav-item-studio {
  color: #404BBF;
}
.mob-menu-address-list {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}
.mob-menu-address-item-tel{
  color: #404BBF;
}
.mob-menu-social-list {
  display: flex;
  gap: 40px;
}
.mob-menu-social-item {
  width: 40px;
  height: 40px;
}
.mob-menu-social-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #4D5AE5;
  border-radius: 50%;
  fill: #f4f4fd;
}

@media screen and (min-width:768px) {
  .mob-menu-wrapper {
    display: none;
  }
}